@model AccountingComputerEquipment.Models.EditUserViewModel

@{
    ViewBag.Title = "Редактировать пользователя";
}

<h2>Редактирование пользователя</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @*<legend>Пользователь</legend>*@
        @*<input type="hidden" asp-for="User.UserId">*@
        @*<input asp-for="User.UserId" value="@Model.User.UserId">
        <p>
            @Html.EditorFor(model => model.Computer.ComputerId)
        </p>*@
        <p>
            ФИО <br />
            @Html.EditorFor(model => model.User.FullName)
        </p>
        @*//*@
        <p>
            Внутр. тел. <br />
            @Html.EditorFor(model => model.User.InternalPhone)
        </p>
        <p>
            Email <br />
            @Html.EditorFor(model => model.User.Email)
        </p>
        @*    <p>
    Branch <br />
    @Html.DropDownListFor(model => model.BranchId, ViewBag.Branchs as SelectList)
    </p>*@
        @*//*@
        @*<p>
    Email  <br />
    @Html.EditorFor(model => model.Email)
    </p>*@
        <p>
            Позиция <br />
            @Html.DropDownListFor(model => model.User.PositionId, ViewBag.Positions as IEnumerable<SelectListItem>)
        </p>
        <p>
            Подразделление <br />
            @Html.DropDownListFor(model => model.User.SubdivisionId, ViewBag.Subdivisions as IEnumerable<SelectListItem>)
        </p>
        @*//*@
        @*!!!*@
        @*<p>
    @Html.HiddenFor(model => model.Computer.ComputerId)
    </p>*@
        @*!!!*@
        <p>
            Инв. номер компьютера<br />
            @Html.EditorFor(model => model.Computer.ComputerInventoryNumber)
        </p>
        <p>
            Сер. номер компьютера<br />
            @Html.EditorFor(model => model.Computer.ComputerSerialNumber)
        </p>
        <p>
            Имя комьютера <br />
            @Html.EditorFor(model => model.Computer.ComputerName)
        </p>
        <p>
            Имя пользователя<br />
            @Html.EditorFor(model => model.Computer.UserSystemName)
        </p>
        <p>
            IP компьютера <br />
            @Html.EditorFor(model => model.Computer.ComputerIp)
        </p>
        <p>
            Процессор <br />
            @Html.EditorFor(model => model.Computer.CPU)
        </p>
        <p>
            Видеокарта <br />
            @Html.EditorFor(model => model.Computer.GPU)
        </p>
        <p>
            ОЗУ <br />
            @Html.EditorFor(model => model.Computer.RAM)
        </p>
        <p>
            Материнская плата<br />
            @Html.EditorFor(model => model.Computer.Motherboard)
        </p>
        <p>
            Жёсткий диск<br />
            @Html.EditorFor(model => model.Computer.HDD)
        </p>
        <p>
            Сетевая карта<br />
            @Html.EditorFor(model => model.Computer.LANCard)
        </p>
        <p>
            DVD<br />
            @Html.EditorFor(model => model.Computer.DVD)
        </p>
        <p>
            Блок питания<br />
            @Html.EditorFor(model => model.Computer.PSU)
        </p>
        <p>
            Инв. номер принтера<br />
            @Html.EditorFor(model => model.Computer.PrinterInventoryNumber)
        </p>
        <p>
            Сер. номер принтера<br />
            @Html.EditorFor(model => model.Computer.PrinterSerialNumber)
        </p>
        <p>
            Имя принтера<br />
            @Html.EditorFor(model => model.Computer.PrinterName)
        </p>
        <p>
            IP принтера<br />
            @Html.EditorFor(model => model.Computer.PrinterIp)
        </p>
        <p>
            Тип принтера<br /> @*Сделай выпадающий список*@
            @Html.EditorFor(model => model.Computer.PrinterType)
            @*@Html.DropDownListFor(model => model.Computer., ViewBag.Subdivisions as SelectList)*@
        </p>
        <p>
            Инв. номер монитора<br />
            @Html.EditorFor(model => model.Computer.PCMonitorInventoryNumber)
        </p>
        <p>
            Сер. номер монитора<br />
            @Html.EditorFor(model => model.Computer.PCMonitorSerialNumber)
        </p>
        <p>
            Имя монитора<br />
            @Html.EditorFor(model => model.Computer.PCMonitorName)
        </p>
        <p>
            Инв. номер планшета<br />
            @Html.EditorFor(model => model.Computer.TabletInventoryNumber)
        </p>
        <p>
            Сер. номер планшета<br />
            @Html.EditorFor(model => model.Computer.TabletSerialNumber)
        </p>
        <p>
            Имя планшета<br />
            @Html.EditorFor(model => model.Computer.TabletName)
        </p>
        <p>
            Инв. номер сервера<br />
            @Html.EditorFor(model => model.Computer.ServerInventoryNumber)
        </p>
        <p>
            Сер. номер сервера<br />
            @Html.EditorFor(model => model.Computer.ServerSerialNumber)
        </p>
        <p>
            Имя сервера<br />
            @Html.EditorFor(model => model.Computer.ServerName)
        </p>
        <p>
            IP сервера<br />
            @Html.EditorFor(model => model.Computer.ServerIp)
        </p>
        <p>
            ОС<br /> @*выпадающий список*@
            @*@Html.DropDownListFor(model => model.Computer.UserOperatingSystemId, ViewBag.UserOperatingSystems as SelectList)*@
        </p>
        <p>
            Приложения<br />
            @Html.EditorFor(model => model.Computer.Softwares)
        </p>
        @*//*@
        <a asp-controller="User" asp-action="EditComputer" asp-route-itemid="@Model.Computer.ComputerId" class="btn btn-primary mx-2 text-center">Изменить компьютер</a>
        <form method="post">
            <p>
                <input type="submit" value="Изменить пользователя" />
            </p>
        </form>

    </fieldset>
}
<div>
    @Html.ActionLink("Вернуться к списку пользователей", "Index")
</div>
